@import "tailwindcss";


:root {
  --font-sans: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  --font-serif: 'Playfair Display', Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.87);
  --color-btn: linear-gradient(to bottom, #d4af37, #b8860b);
  --color-primary: linear-gradient(to bottom, #111700, #1B2503, #243005);
  --color-secondary: #C39F5E;
}

html,
body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--font-serif);
  font-weight: 400;
}